*.glob
*.vo
*.vok
*.vos
.*.aux
*.cmi
*.cmx
*.o
*.a
*.cmxa

extr/*.ml
extr/*.mli
tests/*.ml
tests/*.mli
/.depend.coq
/compcertcprinter-cmi
/compcertcprinter-cmx-args
/compcertsrc-I
/cprinter-args
/tests/compcert.ini
/tests/generated.c
/tests/main
/tests/main-after-install

/Makefile.config
